/* Iosevka Term Nerd Font Mono */

@font-face {
  font-family: 'Iosevka Nerd Font Mono';
  src: url('../fonts/IosevkaTermNerdFontMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Nerd Font Mono';
  src: url('../fonts/IosevkaTermNerdFontMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Nerd Font Mono';
  src: url('../fonts/IosevkaTermNerdFontMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Nerd Font Mono';
  src: url('../fonts/IosevkaTermNerdFontMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
